= render "alphabet"
%h2 Your Friends:
- get_friends_for_page(@friends, @offset).each do |friend|
  %h3= link_to friend['name'], facebook_url(:top_feed_commenters, :friend_id => friend['id'])
#friend-nav
  - if show_last_friend_page_icon(@offset)
    = link_to '-', facebook_url(:friends, :offset => get_friend_offset_backwards(@offset), :limit => get_friend_limit)
  - if show_next_friend_page_icon(@offset, @friends.count)
    = link_to '+', facebook_url(:friends, :offset => get_friend_offset_forward(@offset), :limit => get_friend_limit)